# requirements for both PDF reader and Video-to-Notes features
streamlit
langchain
langchain-community
langchain-openai
faiss-cpu
openai>=1.0.0
beautifulsoup4
requests
pypdf
yt-dlp
git+https://github.com/openai/whisper.git
torch
